@page
@model ClasroomModel
@{
    ViewData["Title"] = "Classroom";
    Layout = "_Layout";
}

<div class="container mt-5 mb-3">
  

    <div class="col-md-6 mx-auto mb-4">
        <div class="header-card p-3 mb-2" style="background-color:none;">
   
            <div class="d-flex justify-content-center me-5">
                <div class="d-flex flex-row alignt-items-center">
                    <div class="ms-2 c-details">
                        @if (Model.lesson != null)
                        @if (Model.lesson.teacherIds.Contains(Model.currentUser.id))
                        {
                            <form class="d-flex justify-content-center mt-1" onsubmit="return false;">
                                <button class="btn btn-grade" data-bs-toggle="modal" data-bs-target="#createAssignment">+Ödev Oluştur</button>
                            </form>
                        }
                    </div>
                </div>

            </div>
          
        </div>
    </div>
    @if (Model.assignment != null)
    @for (int i = 0; i < @Model.assignment.Count(); i++)
    {
            <div class="col-md-6 mx-auto mb-4">
                <div class="card p-3 mb-2" onclick="redirectToAssignmentPage('@Model.assignment[i].id','@Model.lesson.id')">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row alignt-items-center">
                            <div class="icon">
                                <img src="../assets/images/class.png" alt="" />
                            </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Mustafa Turgut</h6>
                                <span>@Model.assignment[i].date.ToShortDateString()</span>
                            </div>
                        </div>

                        <div class="badge">
                            <p>@Model.assignment[i].deadline</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <b>Ödev Tanımı:</b>
                        <p id="def-p">@Model.assignment[i].title</p>
                    </div>
                    <div class="mt-2">
                        <b>Ödev Açıklaması:</b>
                        <p id="def-p">
                            @Model.assignment[i].description
                        </p>
                    </div>
                </div>
            </div>

    }
</div>


<div class="modal fade" id="createAssignment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="createAssingment" method="post" enctype="multipart/form-data" asp-page-handler="CreateAssignment">
                <div class="modal-header">
                    <h1 class="modal-title   fs-5" id="staticBackdropLabel">Ödev Oluştur</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input required type="text" id="assignmentTitle" asp-for="assignmentTitle" value="" placeholder="Başlık" class="form-control form-control-lg mt-2" />

                        <input required type="text" id="asignmentDefinition" asp-for="assignmentDefinition" value="" placeholder="Tanım" class="form-control form-control-lg mt-2" />

                        <textarea required class="form-control mt-2" id="assignmentDescription" asp-for="assignmentDescription" rows="4" placeholder="Açıklama"></textarea>

                        <textarea required type="text" id="assignmentRequirements" asp-for="assignmentRequirements" value="" placeholder="Gereksinimler (maddeleri - ile ayırın)" class="form-control form-control-lg mt-2"></textarea>

                        <input required type="datetime-local" id="assignmentDeadline" value="" data-format="dd/MM/yyyy hh:mm:ss" asp-for="assignmentDeadline" placeholder="Teslim Tarihi" class="form-control form-control-lg mt-2" />

                        <input type="file" name="file" accept=".pdf,.zip,.rar" class="form-control mt-2" />

                        <input type="hidden" id="classId" asp-for="classId" value="@Model.classId" />
                        <input type="hidden" id="currentUser" asp-for="currentUser.id" value="@(Model.currentUser!=null ? Model.currentUser.id : "")" />

                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center ">
                    <button type="submit" class="btn btn-grade">Ödev Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        function redirectToAssignmentPage(assignmentId, lessonId) {
            var redirectUrl = '@Url.Page("/Assignment")?classId=' + lessonId + '&assignmentId=' + assignmentId;
            window.location.href = redirectUrl;
        }

        document.getElementById("lessonCode").addEventListener("click", function () {
            var code = document.getElementById("lessonCode").innerText;
            copyToClipboard(code);
        });

        function copyToClipboard(text) {
            var textarea = document.createElement("textarea");
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("Kod kopyalandı: " + text);
        }
    </script>
}