@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Create Class -->
<div class="modal fade" id="createClass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="createClass" method="post" asp-page-handler="CreateClass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sınıf Oluştur</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input type="text" id="className" value="" asp-for="className" placeholder="Sınıf İsmi" required class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-grade">Sınıf Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Join Class -->
<div class="modal fade" id="joinClass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="joinClass" method="post" asp-page-handler="JoinClass">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sınıfa Katıl</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input type="text" id="classCode" value="" asp-for="classCode" placeholder="Sınıf Kodu" required class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-grade">Sınıfa Katıl</button>
                </div>
            </form>
        </div>
    </div>
</div>


@if (Model.result != null)
{
    <div class="container mt-5 mb-3">
        <div class="row">
            @for (int i = 0; i < Model.result.Count; i++)
            {
                <div class="col-md-4">
                    <div class="card p-3 mb-2 shadow" style="cursor:default;">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon">
                                    <img src="../assets/images/class.png" alt="" />
                                </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">@Model.result[i].createdBy</h6>
                                    <span>@Model.result[i].createdDate.ToString("dd/MM/yyyy")</span>
                                </div>
                            </div>
                            <div class="mt-3 after-d-none dropdown justify-content-end align-items-start">
                                <a class="text-decoration-none d-flex justify-content-end align-items-center dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                                </a>
                                <ul class="dropdown-menu p-0 rounded-3 border-0 grade-card-hover">
                                    <li class="rounded-3 grade-card-hover"><button class="rounded-3 dropdown-item h-100 p-2 border-0" data-bs-toggle="modal" data-bs-target="#deleteClass">Sınıftan Ayrıl</button></li>
                                </ul>
                            </div>
                            <!-- Delete Class -->
                            <div class="modal fade" id="deleteClass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <form id="deleteClass" method="post" asp-page-handler="DeleteClass">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Sınıfı silmek istediğine emin misin?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-outline mb-4">
                                                    <p><b>@Model.result[i].className</b> sınıfı silinecek</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" name="id" value="@(Model.result[i].id)">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                <button type="submit" class="btn btn-danger">Sınıfı Sil</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Class End -->
                        </div>

                        <div class="mt-5">
                            <a href="/Classroom?classId=@Model.result[i].id" style="color:black;" class="d-inline underline-hover">
                                <h3 class="heading d-inline">@Model.result[i].className</h3>
                            </a>
                            <div class="mt-5">
                                <div class="mt-3">
                                    <span class="text2">@Model.result[i].studentIds.Count  Öğrenci</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@*<div class="toast-container position-fixed top-0 end-0 p-3">
    <!--Toast Success-->
    <div class="toast align-items-center text-bg-primary border-0 show bg-success text-white" data-bs-delay="5000" role="status" aria-live="polite" aria-atomic="true">
        <div class="d-flex" role="status" aria-live="polite" aria-atomic="true">
            <div class="toast-body fs-6 d-flex align-items-center">
                <i class="fa-solid fa-check" style="color: #ffffff;"></i>Sınıf silindi
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <!--Toast Error-->
    <div class="toast align-items-center text-bg-primary border-0 show bg-danger text-white" data-bs-delay="5000" role="status" aria-live="polite" aria-atomic="true">
        <div class="d-flex" role="status" aria-live="polite" aria-atomic="true">
            <div class="toast-body fs-6 d-flex align-items-center">
                <i class="fa-solid fa-triangle-exclamation"></i>Sınıf silinemedi
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

*@