@page
@model IntelliGradeUI.Pages.NoteListModel
@{
    ViewData["Title"] = "Notlar";
}


<div class="col-8 mx-auto fs-2">
    Ödevi veren öğretmen
    <div class="dropdown-divider border-2 mb-4" style="background-color: #5161ce"></div>
</div>
<div class="col-8 mx-auto d-flex flex-column justify-content-center ">
    @if (Model.teachers != null)
    {
        @for (int i = 0; i < Model.teachers.Count; i++)
        {
            <div class="card w-100 card-class rounded-3" style=" @(i == Model.teachers.Count - 1 ? "border:1px solid #eee;" : "")">
                <ul class="list-group list-group-flush  ">
                    <li class="list-group-item pb-3 pt-3 fs-5 d-flex align-items-center">
                        <div class="row w-100">
                            <div class="col-12  ">
                                <i class="fa-sharp fa-solid fa-user border border-2 rounded-circle p-2 border-dark me-3 text-white bg-dark"></i>
                                @Model.teachers[i].nameSurname
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        }
    }
</div>

<div class="col-8 mx-auto fs-2">
    Öğrenciler
    <div class="dropdown-divider border-2 mb-4" style="background-color: #5161ce"></div>
</div>
<div class="col-8 mx-auto justify-content-center d-flex">
    <div class="card w-100 border-0" style="width: 18rem;">
        @if (Model.grades != null)
            for (int i = 0; i < Model.grades.Count(); i++)
            {
                <div class="card w-100 card-class rounded-3" style=" @(i == Model.grades.Count - 1 ? "border:1px solid #eee;" : "")">
                    <ul class="list-group list-group-flush  ">
                        <li class="list-group-item pb-3 pt-3 fs-5 d-flex align-items-center">
                            <div class="row w-100">
                                <div class="col-12 col-md-4 d-flex justify-content-start">
                                    <i class="fa-solid fa-user border border-2 rounded-circle p-2 me-3 text-white bg-dark h-min"></i>
                                    @Model.grades[i].nameSurname
                                </div>
                                <div class="col-6 col-md-4 d-flex justify-content-center mt-3 mt-md-0 h-min">
                                    <span class=" border border-1 rounded-2 p-1 fs-6 bg-success text-light">
                                        Notu: @if (@Model.grades[i].grade != null)
                                        {
                                            <text>@Model.grades[i].grade</text>
                                        }else{
                                            <text>verilmedi</text>
                                        }
                                    </span>
                                </div>
                                <div class="col-6 col-md-4 d-flex justify-content-center justify-content-md-end mt-3 mt-md-0 h-min">
                                    <a href="@Model.grades[i].fileUrl" target="_blank" download>
                                        <button class="btn btn-grade">
                                            Ödevi İndir
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
    </div>
</div>

<div class="col-4 offset-8 mt-5 mb-4">
    <form method="post" asp-page-handler="DownloadAllHomeworks">
        <input type="hidden" name="assignmentId" value="@Model.assignmentId" />
        <input type="hidden" name="classId" value="@Model.classId" />
        <button onclick="showLoader('Ödev dosyası hazırlanıyor...')" type="submit" class="btn btn-success">
            Tüm Notları İndir
        </button>

    </form>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <!--Toast Success-->
    <div class="toast align-items-center text-bg-primary border-0 bg-success @Request.Cookies["Success"] text-white" data-bs-delay="5000" role="status" aria-live="polite" aria-atomic="true">
        <div class="d-flex" role="status" aria-live="polite" aria-atomic="true">
            <div class="toast-body fs-6 d-flex align-items-center">
                <i class="fa-solid fa-check" style="color: #ffffff;"></i>@Request.Cookies["SuccessMessage"]
                <a id="allHomeworks" href="@Model.homeworksUrl" download></a>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <!--Toast Error-->
    <div class="toast align-items-center text-bg-primary border-0 bg-danger @Request.Cookies["Error"] text-white" data-bs-delay="5000" role="status" aria-live="polite" aria-atomic="true">
        <div class="d-flex" role="status" aria-live="polite" aria-atomic="true">
            <div class="toast-body fs-6 d-flex align-items-center">
                <i class="fa-solid fa-triangle-exclamation"></i>@Request.Cookies["ErrorMessage"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let x = document.getElementById("allHomeworks");
        x.click();
        x.classList.add("d-none");
    </script>
}